In [4]:
import pandas as pd

In [6]:
df = pd.read_csv(
    '../data/events.csv'
)

In [8]:
df.head()

,Rank,Time,Name,Country,Date of Birth,Place,City,Date,Gender,Event
0,1,2:00:35,Kelvin Kiptum,KEN,02.12.99,1,Chicago,08.10.2023,Men,Marathon
1,2,2:01:09,Eliud Kipchoge,KEN,05.11.84,1,Berlin,25.09.2022,Men,Marathon
2,3,2:01:25,Kelvin Kiptum,KEN,02.12.99,1,London,23.04.2023,Men,Marathon
3,4,2:01:39,Eliud Kipchoge,KEN,05.11.84,1,Berlin,16.09.2018,Men,Marathon
4,5,2:01:41,Kenenisa Bekele,ETH,13.06.82,1,Berlin,29.09.2019,Men,Marathon

In [10]:
df.to_json(
    '../website/public/events.json', 
    orient='records',
    indent=2,
)